.item {
  width: 100px;
  height: 100px;
  // border: solid 1px var(--cinza1);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  img {
    width: 50px;
    height: auto;
  }
  .legenda {
    // background-color: aqua;
    width: 100%;
    text-align: center;
    padding-top: 0.25rem;
    font-weight: 700;
    font-size: 14px;
    color: var(--cinza3);
  }
}
