.navbar-brand {
  font-size: 28px;
  color: var(--verde);
  &:hover,
  &:focus {
    color: var(--verde);
  }
  @media (max-width: 992px) {
    font-size: 20px;
  }
}
// .navbar-brand:hover,
// .navbar-brand:focus {
//   color: var(--verde);
// }

.nav-link {
  font-size: 20px;
  padding-left: 3px;

  &__border {
    border-bottom: solid 1px var(--cinza1);
    @media (min-width: 992px) {
      border-bottom: 0px;
    }
  }
  &__border-t {
    border-top: solid 1px var(--cinza1);
    @media (min-width: 992px) {
      border-top: 0px;
    }
  }
  &:hover {
    color: var(--verde-claro);
  }
}

.navbar-toggler,
.collapsed,
.navbar {
  // height: 86px;
  min-height: 86px;
  // border-bottom: solid 1px var(--cinza1);
  // background-color: var(--bg);
  button {
    border: 0;
    height: 77px;
  }
  @media (min-width: 992px) {
    // height: 128px;
    min-height: 128px;
  }
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
.navbar-toggler-icon {
  width: 35px;
  height: 35px;
}
.int {
  margin-top: -10px;
  color: var(--cinza2);
  cursor: pointer;
}
