.navbar-brand {
  font-size: 2.8rem;
  color: var(--verde);
  @media (max-width: 992px) {
    font-size: 2rem;
  }
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: var(--verde);
}

.nav-link {
  font-size: 2rem;

  @media (max-width: 992px) {
    padding-left: 3px;
    border-bottom: solid 1px var(--cinza1);
  }
}
.navbar-toggler,
.collapsed,
.navbar {
  height: 128px;
  border-bottom: solid 1px var(--cinza1);
  button {
    border: 0;
    height: 80px;
  }
  @media (max-width: 992px) {
    height: 86px;
  }
  background-color: var(--bg);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
.navbar-toggler-icon {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
}
